* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fixed-menu {
    position: fixed; 
    top: 0;
    left: 50%; 
    transform: translateX(-50%);
    width: 80%;
    max-width: 1000px;
    padding: 10px 20px;
    background-color: #020000;
    color: white;
    z-index: 1000; 
    border-radius: 8px; 
    text-align: center;
}

.fixed-menu nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.fixed-menu nav ul li a {
    color: white;
    text-decoration: none;
    padding: 8px 16px;
}

header h1 {
    font-size: 1.8em;
}

.navbar {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
}

.navbar a:hover {
    background-color: #333;
    border-radius: 5px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.section-title {
    font-size: 2em;
    color: #8B0000;
    margin-bottom: 15px;
}

.card {
    background-color: white;
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 20px;
}

.footer {
    font-size: 0.8em;
    text-align: center;
    background-color: #333;
    color: #f3f3f3;
    padding: 15px;
}

p {
    margin-bottom: 20px; 
}

body {
    padding-top: 20px;
    font-family: 'Roboto', sans-serif;
    background-color: #f3f3f3;
    color: #333;
    margin: 40px;
    background: repeating-linear-gradient(
        90deg, 
        #8B0000, 
        #8B0000 40px, 
        #ffffff 40px, 
        #ffffff 80px, 
        #000000 80px, 
        #000000 120px 
    );
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.history-page .float-right {
    float: right;
    margin-left: 10px;
    width: 18%;
    border-radius: 8px;
}

.history-page .centered-image-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}

.history-page .center-image {
    width: 60%;
    max-width: 640px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.history-page .float-left {
    float: left;
    margin-right: 20px; 
    width: 50%;
    border-radius: 8px;
}

.capacidade-page .float-right {
    float: right;
    margin-left: 10px;
    width: 41%; 
    border-radius: 8px;
}

.tour-page .float-left {
    float: left;
    margin-right: 20px; 
    width: 30%;
    border-radius: 8px;
}

.tour-page .centered-image-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}

.tour-page .center-image {
    width: 60%;
    max-width: 740px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.tour-page .float-right {
    float: right;
    margin-left: 10px;
    width: 52%; 
    border-radius: 8px;
}

.eventos-page .center-image {
    width: 70%;
    max-width: 740px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.eventos-page .centered-image-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}

.fotos-page .carousel {
    position: relative;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.fotos-page .carousel-track {
    display: flex;
    scroll-snap-type: x mandatory;
    transition: transform 0.3s ease-in-out;
}

.fotos-page .carousel img {
    scroll-snap-align: center;
    width: 100%;
    flex: 0 0 100%;
    height: auto; 
    max-height: 600px;
    object-fit: cover;
    border-radius: 8px;
}

.fotos-page .carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 24px;
    cursor: pointer;
    padding: 10px;
}

.fotos-page .prev {
    left: 10px;

}

.fotos-page .next {
    right: 10px;
}

.index .centered-image-text  { 
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    
}

.index .center-image {
    width: 70%;
    max-width: 740px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.contato-page .centered-image-text  { 
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    
}

.contato-page .center-image {
    width: 100%;
    max-width: 640px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.contato-page .textarea {
    width: 100%; 
    max-width: 500px; 
    margin: 50px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.contato-page .form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contato-page .input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
    box-sizing: border-box;
}

.contato-page .button {
    background-color: #8B0000;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contato-page .button:hover {
    background-color: #600000;
}